.button-no {
    background-color: #008524 !important;
    color: white;
    border: none;
  }
  
  .button-no:hover {
    background-color: #1ab044 !important;
    color: white !important;
  }
  
  .button-no:active {
    background-color: #008524 !important;
    color: white !important;
  }
  
  .button-yes {
    background-color: rgb(219, 1, 1) !important;
    color: white !important;
    border: none !important;
  }
  
  .button-yes:hover {
    background-color: rgb(162, 1, 1) !important;
    color: white !important;
  }
  
  .button-yes:active {
    background-color: rgb(219, 1, 1) !important;
    color: white !important;
  }
  